[user]
	email = delapouite@gmail.com
	name = Delapouite
[core]
	editor = vim
[alias]
	ci = commit -v
	co = checkout
	l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	st = status
[push]
	default = simple
