[user]
	email = delapouite@gmail.com
	name = Delapouite
[core]
	editor = vim
[alias]
	br = branch -avv
	branches = branch -a
	ci = commit -v
	co = checkout
	diffw = diff --word-diff
	dsf = "!git diff --color $@ | diff-so-fancy"
	l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	st = status
	stashes = stash list
	tags = tag
	tidy = rebase -i @{upstream}..
[push]
	default = simple
[pull]
	rebase = preserve
[status]
	showUntrackedFiles = all
[diff]
	wordRegex = .
[color]
	ui = auto
